---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Item from "../components/Item.astro";
import Path from "../components/Path.astro";
import Tags from "../components/Tags.astro";
import Summary from "../components/Summary.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout>

  <div class="content-container">
    <div class="page-title">Post</div>

    <ul class="unordered-list">
      {
        allPosts.map((post) => (
          <Item url={`/posts/${post.slug}/`} title={post.data.title}>
            <Path value={`/posts/${post.slug}`} slot="path" />
            <Summary text={post.data.summary} slot="summary" />
            <Tags items={post.data.tags} slot="tags" />
          </Item>
        ))
      }
    </ul>
  </div>

</BaseLayout>