---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Item from "../components/Item.astro";
import Path from "../components/Path.astro";
import Tags from "../components/Tags.astro";
import Summary from "../components/Summary.astro";

const allSolutions = await getCollection("solutions");
---

<BaseLayout>

  <div class="content-container">
    <div class="page-title">Solutions</div>

    <ul class="unordered-list">
      {
        allSolutions.map((solution) => (
          <Item url={`/solutions/${solution.slug}/`} title={solution.data.title}>
            <Path value={`/solutions/${solution.slug}/`} slot="path" />
            <Summary text={solution.data.summary} slot="summary" />
            <Tags items={solution.data.tags} slot="tags" />
          </Item>
        ))
      }
    </ul>
  </div>

</BaseLayout>